body {
  font-family: "Arial", sans-serif;
  background: #5372af;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: #111827;
}

.generator {
  margin-top: 2rem;
}

textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
}

button {
  margin: 1rem 0.5rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:disabled {
  background-color: #93c5fd;
}

.result {
  background: rgb(152, 149, 149);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}
